[tool.ruff]
line-length = 120
# Rule descriptions: https://docs.astral.sh/ruff/rules/
# TODO enable more linter
#lint.select = ["B", "N", "C90", "ARG", "PL", "RUF", "UP"]
lint.select = ["E", "F", "W", "I", "C4"]

[tool.ruff.lint.per-file-ignores]
# We use magic values in tests
"tests/*" = ["PLR2004"]
# There is a lot to look at with this rule,
# not enforced yet
"*" = ["F401"]
