colorful==0.5.8
docopt==0.6.2
ipython==7.34.0
tag-expressions>=2.0.0
lxml==5.4.0; python_version < '3.14'
lxml==6.0.2; python_version >= '3.14'
parse_type==0.6.4
coverage==7.2.7
PyYAML==6.0.1
humanize==4.6.0
