Source: radish-bdd
Maintainer: Timo Furrer <tuxtimo@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.3), debhelper (>= 9)
Standards-Version: 3.9.1

Package: radish-bdd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lxml, python-docopt, python-colorful, ipython
Description: Awesome Behaviour Driven Development tool for python
