name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  publish-pypi:
    # Based off the uv instructions https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Build package
        run: uv build
      - name: Smoke test (wheel) # Check that the built wheel can be installed and radish commands run
        run: |
          python -m venv whl-venv
          ./whl-venv/bin/pip install $(find dist/ -name "*.whl")[testing]
          ./whl-venv/bin/radish --version
          ./whl-venv/bin/radish-test --version
      - name: Smoke test (source distribution) # Check that the built sdist can be installed and radish commands run
        run: |
          python -m venv sdist-venv
          ./sdist-venv/bin/pip install $(find dist/ -name "*.whl")[testing]
          ./sdist-venv/bin/radish --version
          ./sdist-venv/bin/radish-test --version
      - name: Publish
        run: uv publish
